# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# IDEs
.idea/
.vscode/
*.iml

# Sistema operacional
.DS_Store

# Arquivos de configuração sensíveis
application.yml
application.properties

# Lombok
.lombok
